@{
    ViewData["Title"] = "Конфиденциальность";
}
<div class="pageName">
    <h2 class="pageNameText">@ViewData["Title"]</h2>
</div>
<div class="pageName">
    <p class="pageNameText">Use this page to detail your site's privacy policy.</p>
</div>
